;;
==
{##}
{% set categories = blogCategories.categories %}
{% set currentCategorySlug = blogCategories.currentCategorySlug %}

<div class="list-group">
    {% for category in categories %}
        {% set postCount = category.post_count %}
        <a
            href="{{ category.url }}"
            class="list-group-item {{ category.slug == currentCategorySlug ? 'active' }}"
            >{{ category.name }}
            {% if postCount %}
                <span class="badge">{{ postCount }}</span>
            {% endif %}
        </a> 
    {% endfor %}
</div>
<div class="sidebar-widget card border-0 mt-5 mb-3">
	<img src="https://placehold.it/540x450" alt="" class="img-fluid">
		<div class="card-body p-4 text-center">
			<h5 class="mb-0 mt-4">Arther Conal</h5>
			<p>Digital Marketer</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolore.</p>

			<ul class="list-inline author-socials">
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-twitter text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-pinterest text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-behance text-muted"></i></a>
				</li>
			</ul>
		</div>
	</div>
