;;
description = "Blog Posts Overview"
==
{##}
{% set posts = blogPosts.posts %}
    {% for post in posts %}
    <div class="col-lg-6 col-md-6 mb-5">
        <div class="blog-item">
            {% if post.featured_images.count > 0 %}
            <img class="media-object img-fluid rounded" src="{{ post.featured_images.first.getThumb(540, 'auto') }}" />
            {% else %}
            <img class="media-object img-fluid rounded" src="https://placehold.it/540x450" />
            {% endif %}
            <div class="blog-item-content bg-white p-5">
				<div class="blog-item-meta bg-gray py-1 px-2">
                {% for category in post.categories %}
                    <span class="text-muted text-capitalize mr-3">
                        <a href="{{ category.url }}">{{ category.name }}</a>
                    </span>
                {% endfor %}
				    <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> {{ post.published_at|date('M d, Y') }}</span>
				</div> 
                <h3 class="mt-3 mb-3">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h3>

                {% if post.excerpt %}
                    <p class="excerpt">{{ post.excerpt }}</p>
                {% else %}
                    <div class="content">{{ post.content_html|raw }}</div>
                {% endif %}
                <a href="{{ post.url }}" class="btn btn-small btn-main btn-round-full">Learn More</a>
            </div>
        </div>
    </div>
    {% else %}
        <div class="no-data">
            <p>{{ noPostsMessage }}</p>
        </div>
    {% endfor %}
</div>
{% if posts.lastPage > 1 %}
<div class="row justify-content-center mt-5">
    <div class="col-lg-6 text-center">
        <nav class="navigation pagination d-inline-block">
            <div class="nav-links">
                {% if posts.currentPage > 1 %}
                <a class="prev page-numbers" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">Prev</a>
                {% endif %}

                {% for page in 1..posts.lastPage %}
                <a class="page-numbers" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                {% endfor %}

                {% if posts.lastPage > posts.currentPage %}
                <a class="next page-numbers" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next</a>
                {% endif %}
            </div>
        </nav>
    </div>
</div>
{% endif %}