;;
description = "Blog Single Post Header"
==
{##}
<section class="page-title bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">News details</span>
                    <h1 class="text-capitalize mb-4 text-lg">Blog Single</h1>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="{{ 'home'|page }}" class="text-white">Home</a></li>
                        <li class="list-inline-item"><span class="text-white">/</span></li>
                        <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>