;;
description = "CTA Partial"
==
{##}
{# Section CTA Start #}
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-item  bg-white p-5 rounded">
					<span class="h6 text-color">We create for you</span>
					<h2 class="mt-2 mb-4">Entrust Your Project to Our Best Team of Professionals</h2>
					<p class="lead mb-4">Have any project on mind? For immidiate support :</p>
					<h3><i class="ti-mobile mr-3 text-color"></i>+23 876 65 455</h3>
				</div>
			</div>
		</div>
	</div>
</section>
{# Section CTA End #}