.tab {
    font-family: "Livvic", sans-serif !important;
    font-weight: 600;
    color: var(--blue);
}
.tab.active {
    border-bottom: 2.5px solid var(--blue);
    border-bottom-width: 90%;
}
.team-members-avt {
    width: 50%;
    padding-top: 50%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.content-member {
    color: white;
}
.member-name {
    font-size: x-large;
    font-weight: 600;
}
.member-description {
    font-size: large;
}
.btn-member-detail {
    height: 25px;
    cursor: pointer;
}
#our-tem .title {
    width: 45%;
}

#members .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
@media only screen and (max-width: 768px) {
    #our-tem .title {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    #members .container {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
    #our-tem .container {
        padding: 0;
        max-width: 100%;
    }
}
